<html xmlns:th="https://www.thymeleaf.org/">
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>

<body>
  <div class="col-12">
	<div class="container">
		<div class="card">
			<div class="card-header bg-info text-center text-white">
				<h3>List Of Students</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr class="bg-dark text-white">
						<th>ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Email</th>
						<th>Gender</th>
						<th>edit</th>
             			<th>delete</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text=${ob.id}></td>
						<td th:text=${ob.firstName}></td>
						<td th:text=${ob.lastName}></td>
						<td th:text=${ob.age}></td>
						<td th:text=${ob.email}></td>
						<td th:text=${ob.gender}></td>
												<td><a th:href="@{/student/edit(id=${ob.id})}" class="btn btn-warning">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						<td><a th:href="@{/student/delete(id=${ob.id})}" class= "btn btn-danger">DELETE <i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
					</tr>
				</table>
				<a th:href="@{/student/register}" class= "btn btn-success ">Add Student <i class="fa fa-plus-square" aria-hidden="true"></i></a> 
				<a th:href="@{/student/}" class= "btn btn-primary">Go to Home</a>
			</div>
			<div class="card-footer bg-white text-success" th:if="${message!=null}">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div></div>
</body>
</html>