<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
  </head>
  <body>
  <div class="col-12">
    <div class="container" align="center">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>Edit Student</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/student/update}" method="POST" id="studentForm" th:object="${student}">
                <div class="row">
                    <div class="col-5">
                        <label for="id">ID</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{id}" class="form-control" readonly/>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-5">
                        <label for="firstName">FIRSTNAME</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{firstName}" class="form-control"/>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-5">
                        <label for="lastName">LASTNAME</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{lastName}" class="form-control"/>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-5">
                        <label for="age">AGE</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{age}" class="form-control"/>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-5">
                        <label for="email">EMAIL</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{email}" class="form-control" />
                    </div>
                </div> <br/>
                
                <div class="row">
                    <div class="col-5">
                        <label for="gender">GENDER</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{gender}" class="form-control"/>
                    </div>
                </div><br/>
                <button type="submit" class="btn btn-success">Update <i class="fa fa-wrench" aria-hidden="true"></i></button>             
				<a th:href="@{/student/getAllStudents}" class= "btn btn-primary">Show All Students</a>
            </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div></div>
  </body>
</html>