<html xmlns:th="https://www.thymeleaf.org/">
<head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div class="col-12" >
<div class="container" >

		<div class="card" align="center">
			<div class="card-header bg-primary text-white text-center">
				<h3>Student Management Application</h3>
			</div>
			<div class="card-body">
			  <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
					<form>
					<a th:href="@{/student/getAllStudents}" class= "btn btn-success ">Manage Students<i class="fa fa-plus-square" aria-hidden="true"></i></a>               
					<a th:href="@{/Course/getAllCourses}" class= "btn btn-success ">Manage Courses<i class="fa fa-plus-square" aria-hidden="true"></i></a>               
					
				</form>
			</div>
			</div>		
		</div> </div>
</body>
</html>